// Spacers
$spacer-xs: 4px;
$spacer-s: 8px;
$spacer-m: 12px;
$spacer-l: 17px;
$spacer-xl: 28px;

// Breakpoints
$desktop-breakpoint: 1200px;
$table-breakpoint: 768px;
$mobile-breakpoint: 576px;

// Card sizes
$card-width-max: 370px;
$card-height-min: 170px;

// Other sizes
$subheading-width: 160px;
$container-width-l: 1230px;
