// Spacers
$spacer-xs: 4px;
$spacer-s: 8px;
$spacer-m: 12px;
$spacer-l: 17px;
$spacer-xl: 28px;

// Breakpoints
$table-breakpoint: 830px;
$mobile-breakpoint: 430px;
$mobile-s-breakpoint: 350px;

// Card sizes
$card-width-max: 370px;
$card-height-min: 170px;

// Other sizes
$subheading-width: 160px;
$container-width-l: 1230px;
$container-width-m: 880px;
$container-width-s: 430px;
$container-width-xs: 310px;
