:root {
  /* COLORS */
  // Primary colors
  --color-primary: #ffffff;
  // Secondary colors
  --color-secondary: #0b5fff;
  --color-secondary-alpha-1: rgba(11, 95, 255, 0.8);
  --color-secondary-alpha-2: rgba(11, 95, 255, 0.6);
  // Neutral colors
  --color-neutral-1: #09101d;
  --color-neutral-2: #000000;
  --color-neutral-3: rgba(39, 40, 51, 0.32);
  // Projects colors
  --color-idea: #0710e4;
  --color-in-process: #030656;
  --color-implemented: var(--color-neutral-2);
  // Other colors
  --color-resource: #ffffff;
  --color-resource-alpha: rgba(255, 255, 255, 0.6);
  --color-important: #ba2d01;
  --color-accent: #3b49df;
  --color-on-white: #0108a9;
  --color-so: #f48024;
  --color-jetbrains: #675ce9;

  /* TYPOGRAPHY */
  // Font family
  --font-family: "Museo Sans Rounded", "Arial", sans-serif;
  // Font sizes
  --font-size-xxl: 31px;
  --font-size-xl: 26px;
  --font-size-l: 24px;
  --font-size-m: 16px;
  --font-size-s: 12px;
  // Line height sizes
  --line-height-xxl: 38px;
  --line-height-xl: 31px;
  --line-height-l: 29px;
  --line-height-m: 19px;
  --line-height-s: 14px;
  // Font weight
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 300;

  /* OTHER */
  // Border radius sizes
  --rd-xl: 15px;
  // Box-shadow values
  --bs-m: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
