@font-face {
  font-family: "Museo Sans Rounded";
  src: local("Museo Sans Rounded"), local("MuseoSansRounded"), url("./fonts/MuseoSansRounded-300.woff2") format("woff2"),
    url("./fonts/MuseoSansRounded-300.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Rounded";
  src: local("Museo Sans Rounded"), local("MuseoSansRounded"), url("./fonts/MuseoSansRounded-500.woff2") format("woff2"),
    url("./fonts/MuseoSansRounded-500.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Rounded";
  src: local("Museo Sans Rounded"), local("MuseoSansRounded"), url("./fonts/MuseoSansRounded-700.woff2") format("woff2"),
    url("./fonts/MuseoSansRounded-700.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
