@import "../../design-tokens/scss-variables.scss";

.card {
  position: relative;
  top: 3px;
  box-sizing: border-box;
  padding: $spacer-l * 2 $spacer-l;
  background-color: var(--color-secondary);
  width: $card-width-max;
  min-height: $card-height-min;
  overflow: hidden;
  white-space: nowrap;
  border-radius: var(--rd-xl);
  box-shadow: var(--bs-m);
  transition: top 0.25s;
}

.card:hover {
  top: -5px;
}

.heading {
  margin-left: $spacer-l;
}

.type {
  margin-top: $spacer-xl;
  display: flex;
}

.content {
  white-space: nowrap;
  width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 $spacer-m * 2;
}

.link {
  margin-top: $spacer-xs;
  display: flex;
  flex-wrap: nowrap;
}

.default {
  background-color: var(--color-secondary);
}

.about {
  background-color: var(--color-secondary-alpha-1);
}

.light {
  background-color: var(--color-secondary-alpha-2);
}

.idea {
  background-color: var(--color-idea);
}

.process {
  background-color: var(--color-in-process);
}

.implemented {
  background-color: var(--color-neutral-2);
}

.important {
  background-color: var(--color-important);
}

.resource {
  background-color: var(--color-resource);
}

.accent {
  background-color: var(--color-accent);
}

.vertical {
  position: absolute;
  content: "";
  width: $subheading-width;
  margin-top: 0;
  margin-bottom: 0;
  top: 50%;
  right: -55px;
  text-align: center;
  transform: translateY(-50%) rotate(90deg);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--color-neutral-3);
}

.dark-vertical {
  color: var(--color-resource-alpha);
}

@media screen and (max-width: $mobile-breakpoint) {
  .card {
    width: 320px;
    padding: $spacer-l;
  }

  .heading {
    margin-left: $spacer-s;
  }

  .content {
    margin: 0 $spacer-s;
  }

  .vertical {
    display: none;
  }
}

@media screen and (max-width: $mobile-s-breakpoint) {
  .card {
    width: 300px;
  }
}
