.icon {
  font-family: var(--font-family);
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
}

@media screen and (max-width: $mobile-breakpoint) {
  .icon {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
  }
}
