.heading {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
  color: var(--color-primary);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
}

.large {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

.medium {
  color: var(--color-neutral-1);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
}

@media screen and (max-width: 430px) {
  .large {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
  }
}
