.description {
  display: inline-block;
  min-width: 40px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-medium);
  white-space: pre-wrap;
}
