@import "./design-tokens/scss-variables.scss";
@import "./design-tokens/css-variables.scss";

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
