@import "../design-tokens/scss-variables";

.container {
  box-sizing: border-box;
  max-width: $container-width-l;
  padding: 0 30px;
  margin: 0 auto;
}

.header {
  padding-top: 5%;
  padding-bottom: 5%;
}

.section {
  padding-top: 0;
  padding-bottom: 5%;
}

.heading {
  padding-bottom: 2%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
