@import "../../design-tokens/scss-variables.scss";

.link {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
  text-overflow: ellipsis;
  width: 235px;
  overflow: hidden;
}

@media screen and (max-width: $mobile-breakpoint) {
  .link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
